{% extends 'base.html.twig' %}

{% block title %}Hello DepenseController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
    
    <center><h1> Les types de dépenses : </h1></center>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Libelle</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
  {% for type in types %}
    <tr>
      <th scope="row">{{ type.id }}</th>
      <td>{{ type.libelle }}</td>
      <td><a class="btn btn-warning" href="{{ path("app_depense", {"id" : type.id}  )}}">Detail</a></td> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
